"===========================================
" Geek-Z
"===========================================
let mapleader=" "

set showmode
set showcmd
set wildmenu
set tabstop=4
set softtabstop=4
set shiftwidth=4
set expandtab

set surround
set multi-cursors
set scrolloff=5

set clipboard+=unnamed
set hlsearch
exec "nohlsearch"
set incsearch
set ignorecase
set smartcase
nnoremap <leader><cr> :nohlsearch<cr>
" goto some
nnoremap <leader>gc :action GotoClass<CR>
nnoremap <leader>gf :action GotoFile<CR>
nnoremap <leader>gs :action  GotoSymbol<CR>
nnoremap <Leader>ga :action GotoAction<CR>
nnoremap <Leader>gt :action GotoTest<CR>
nnoremap <Leader>rc :action ChooseRunConfiguration<CR>
nnoremap g/ <esc>:action FindInPath<cr>
nnoremap [[ <esc>:action MethodUp<cr>
nnoremap ]] <esc>:action MethodDown<cr>
" debug
nnoremap <Leader>bb :action ToggleLineBreakpoint<CR>
nnoremap <Leader>br :action ViewBreakpoints<CR>
noremap <Leader>su :action ShowUsages<CR>
noremap J 5j
noremap K 5k
noremap H 5h
noremap L 5l


" window move
map <leader>h <c-w>h
map <leader>j <c-w>j
map <leader>k <c-w>k
map <leader>l <c-w>l
map <leader><leader> <esc>/<++><cr>:nohlsearch<cr>c4l
map ; :
map s <nop>
map Q :q<cr>
" select all
nnoremap <leader>sa ggVG

nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>
noremap gr <ESC>:action RecentFiles<CR>
" 移动文件到下一个分屏
nnoremap <C-M> :action MoveEditorToOppositeTabGroup<CR>

" emacsIdeas
nnoremap <leader>f <esc>:action emacsIDEAs.AceJumpWord<CR>
