"===========================================
" Geek-Z
"===========================================
let mapleader=" "

noremap <leader>k gt
noremap <leader>j gT 

set showmode
set showcmd
set wildmenu

set surround
set multi-cursors


set clipboard+=unnamed

nnoremap / :action Find<CR>
" goto some
nnoremap <leader>gc :action GotoClass<CR>
nnoremap <leader>gf :action GotoFile<CR>
nnoremap <leader>gs :action  GotoSymbol<CR>
nnoremap <Leader>ga :action GotoAction<CR>
nnoremap <Leader>gt :action GotoTest<CR>
nnoremap <Leader>rc :action ChooseRunConfiguration<CR>
nnoremap g/ <esc>:action FindInPath<cr>
nnoremap [[ <esc>:action MethodUp<cr>
nnoremap ]] <esc>:action MethodDown<cr>
nnoremap <leader>f <esc>:action AceAction<cr>
" debug
nnoremap <Leader>bb :action ToggleLineBreakpoint<CR>
nnoremap <Leader>br :action ViewBreakpoints<CR>
noremap <Leader>su :action ShowUsages<CR>
noremap J 5j
noremap K 5k
noremap H 5h
noremap L 5l



map <leader>h <c-w>h
map <leader>j <c-w>j
map <leader>k <c-w>k
map <leader>l <c-w>l
map ; :
map s <nop>
map Q :q<cr>
nnoremap <leader>sa ggVG
